<footer class="w-full rounded-t-[3rem] mt-20 bg-zinc-100">
    <div class="flex flex-col md:flex-row justify-between items-center py-12 px-8 max-w-7xl mx-auto gap-6">
        <div class="font-headline font-bold text-lg text-zinc-900">
            {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}
        </div>
        <div class="flex gap-8">
            <a class="text-zinc-500 hover:text-blue-500 transition-colors font-body text-sm leading-relaxed no-underline" href="#contact">{{ with .Site.Params.navigation.contact }}{{ . }}{{ end }}</a>
            {{ range .Site.Params.social }}
            {{ if ne .title "linkedin" }}
            <a class="text-zinc-500 hover:text-blue-500 transition-colors font-body text-sm leading-relaxed no-underline" href="{{ .link }}" target="_blank" rel="noopener">{{ .title }}</a>
            {{ end }}
            {{ end }}
        </div>
        <div class="text-zinc-500 font-body text-sm leading-relaxed">
            {{ with .Site.Params.copyright }}{{ . | markdownify }}{{ end }}
        </div>
    </div>
</footer>
